* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 40px auto 0;
}

.title {
  font-size: 28px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 4px;
  margin: auto;
}

.button-text {
  font-size: 22px;
}
